asn1crypto==0.24.0
backports.functools-lru-cache==1.5
bar==0.2.1
certifi==2018.11.29
chardet==3.0.4
Cheetah==2.4.4
cliapp==1.20170827
Click==7.0
cmdtest==0.32
cryptography==2.1.4
cycler==0.10.0
duplicity==0.7.17
enum34==1.1.6
fasteners==0.12.0
Flask==1.0.2
gunicorn==19.9.0
idna==2.8
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.0.1
libvirt-python==4.0.0
lockfile==0.12.2
Markdown==2.6.9
MarkupSafe==1.1.0
matplotlib==2.2.3
monotonic==1.0
numpy==1.16.0
pycrypto==2.6.1
pycurl==7.43.0.1
Pygments==2.2.0
pygobject==3.26.1
pyliblzma==0.5.3
pyparsing==2.3.1
pysqlite==1.0.1
python-dateutil==2.7.5
pytz==2018.9
pywatchman==1.4.0
pyxdg==0.25
PyYAML==3.12
requests==2.21.0
rpm==4.14.1
SecretStorage==2.3.1
six==1.12.0
subprocess32==3.5.3
ttystatus==0.38
urlgrabber==3.10.2
urllib3==1.24.1
Werkzeug==0.14.1
youtube-dl==2018.12.9
yum-metadata-parser==1.1.4
